@page
@model AktivStyringRazor.Pages.EnsembleDeltager.EnsembleDeltagerModel
@{
    ViewData["Title"] = "EnsembleDeltager";
}
<p>
    <a asp-page="EnsembleDeltager/Create">Create new Ensembledeltager</a>
</p>


<form>
    <p class="SeaBar">
        Search: <input type="text"/>
        <input type="submit" value="Filter" />
    </p>
</form>

<h4 class="LisTNvn" style="color: darkblue">Liste af EnsembleDeltagere</h4>

<table>
    <thead class="LisTHeader">
    <tr class="THeaderTRLis">
        <th class="THKolLisNvn">
            EnsembledeltagerID
        </th>
        <th class="THKolLisNvn">
            PersonID
        </th>
        <th class="THKolLisNvn">
            EnsembleID
        </th>
        <th class="THKolLisNvn">
            RolleID
        </th>
        <th class="THKolLisNvn">
            Tilmeldt
        </th>
        <th class="THKolLisNvn">
            Udmeldt
        </th>
    </tr>
    </thead>
    <tbody class="LisTBodyRow">
    @if (Model.EnsDeltager.Count() != 0)
    {
        @foreach (var item in Model.EnsDeltager)
        {
            <tr class="TBodyTRowLisItem">
                <td class="TBKolLisItem">@item.EnsDeltagerID</td>
                <td class="TBKolLisItem">@item.PersonID</td>
                <td class="TBKolLisItem">@item.EnsembleID</td>
                <td class="TBKolLisItem">@item.RolleID</td>
                <td class="TBKolLisItem">@item.Tilmeldt</td>
                <td class="TBKolLisItem">@item.Udmeldt</td>
            </tr>
        }
    }
    </tbody>
</table>