@page
@model AktivStyringRazor.Pages.LageroptællingModel
@{
    ViewData["Title"] = "Lageroptælling";
}



<p>
    <a asp-page="Lageroptælling/Create">Create New Lageroptælling</a>
</p>

<form>
    <p class="SeaBar">
        Search: <input type="text" />
        <input type="submit" value="Filter" />
    </p>
</form>

<h4 class="LisTNvn" style="color:black"> List of Lageroptællinger</h4>

<table class="table">
    <thead class="LisTHeader">
        <tr class="THeaderTRLis">
            <th class="THKolLisNvn">
                AktivID
            </th>
            <th class="THKolLisNvn">
                Placering
            </th>
            <th class="THKolLisNvn">
                PlaceringDato
            </th>
            <th class="THKolLisNvn">
                PlaceringNote
            </th>
            <th class="THKolLisNvn">
                LinkID
            </th>

        </tr>
    </thead>
    <tbody class="LisTBodyRow">
        @if (Model.Lageroptællinger.Count() != 0)
        {
            @foreach (var item in Model.Lageroptællinger)
            {
                <tr class="TBodyTRowLisItem">
                    <td class="TBKolLisItem">
                        @item.AktivID
                    </td>
                    <td class="TBKolLisItem">
                        @item.Placering
                    </td>
                    <td class="TBKolLisItem">
                        @item.PlaceringDato
                    </td>
                    <td class="TBKolLisItem">
                        @item.PlaceringNote
                    </td>
                    <td class="TBKolLisItem">
                        @item.LinkID
                    </td>
                    <td class="TBKolLisItem">
                        <p class="TBKolLisDelItem">
                            <a asp-page="/Lageroptælling/Delete" asp-route-id="@item.LinkID">Delete</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>