@page
@model AktivStyringRazor.Pages.Persons.GetAllPersonsModel
@{
    ViewData["Title"] = "GetAllPersons";
}
<p>
    <a asp-page="/Persons/Create">Opret nyt medlem</a>
</p>

<h4 style="color:aquamarine"> List of Members</h4>

<table class="table">
    <thead>
        <tr class="THeaderTRLis">
            <th>
                Name
            </th>
            <th>
                Phone No.
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Membership No.
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Persons.Count() != 0)
        {
            @foreach (var item in Model.Persons)
            {
                if (item.PersonId % 2 == 1)
                {
                    <tr class="TBodyTRowLisItem">
                        <td><a class="internpagelink" asp-page="/Persons/Profil" asp-route-id="@item.PersonId">@item.Navn</a></td>
                        <td>@item.Telefon</td>
                        <td>@item.Email</td>
                        <td>@item.Adresse</td>
                        <td>@item.MedlemsNr</td>
                        <td>
                            <p>
                                <a asp-page="/Persons/Delete" asp-route-id="@item.PersonId"><i class="fa fa-trash-alt"></i></a>
                            </p>
                            <a asp-page="/Persons/Edit" asp-route-id="@item.PersonId"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="TBodyTRowLisItem-alt">
                        <td><a class="internpagelink" asp-page="/Persons/Profil" asp-route-id="@item.PersonId">@item.Navn</a></td>
                        <td>@item.Telefon</td>
                        <td>@item.Email</td>
                        <td>@item.Adresse</td>
                        <td>@item.MedlemsNr</td>
                        <td>
                            <p>
                                <a asp-page="/Persons/Delete" asp-route-id="@item.PersonId"><i class="fa fa-trash-alt"></i></a>
                            </p>
                            <a asp-page="/Persons/Edit" asp-route-id="@item.PersonId"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>

                }

            }
        }
</table>


